@import url(../Category/Category.css);
@import url(../Landing/Landing.css);
@import url(../Question/Question.css);
@import url(../Result/Result.css);

.decore{
    width: 100vw; height: 100vh; position: fixed; top: 0; left: 0;
    z-index: -1;
}
.decore>.top-shape{
    width: 19.5%; min-width: 180px; position: absolute; left: 0; top: 0;
}
.decore>.bottom-shape{
    width: 19.5%; min-width: 180px; position: absolute; right: 0; bottom: 0;
}

.loading{
    width: 100vw; height: 100vh; overflow: hidden; position: relative;
}
.loading>img{
    width: 80px; height: 80px; position: absolute; left: 50%; top: 50%;
    translate: -50% -50%; transform-origin: 50% 100%;
    animation: loading 0.5s linear infinite;
}

@keyframes loading {
    0%{ rotate: 0deg; scale: 1; opacity: 1; }
    50%{ rotate: 180deg; scale: 0.6; opacity: 0.6; }
    100%{ rotate: 360deg; scale: 1; opacity: 1; }
}